@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Caveat&family=Dawning+of+a+New+Day&family=Homemade+Apple&family=La+Belle+Aurore&family=Montserrat:wght@200;400;700&family=Noto+Sans+TC:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂元件 */
.card{
    @apply max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-lg cursor-pointer;
}
html {
    scroll-behavior: smooth;
}

.accordion li > div {
    display: none;
}

.accordion .flipY {
    transform: rotate3d(1, 0, 0, 180deg);
}

.accordion svg {
    transition: all 1s cubic-bezier(0, .5, 0, 1);
}

.pagetop1{
    background: url("../image/room-12.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop2{
    background: url("../image/room-23.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop3{
    background: url("../image/meal-45.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop4{
    background: url("../image/travel-15.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop5{
    background: url("../image/room-24a.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop6{
    background: url("../image/room-30a.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop7{
    background: url("../image/travel-23.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop8{
    background: url("../image/travel-11.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop9{
    background: url("../image/travel-6.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop10{
    background: url("../image/travel-22.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop11{
    background: url("../image/travel-27.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop12{
    background: url("../image/travel-20.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop13{
    background: url("../image/travel-21.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop14{
    background: url("../image/travel-2.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop15{
    background: url("../image/travel-25.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop16{
    background: url("../image/travel-16.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop17{
    background: url("../image/travel-18.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop18{
    background: url("../image/travel-3.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop19{
    background: url("../image/travel-24.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop20{
    background: url("../image/travel-19.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop21{
    background: url("../image/travel-7.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop22{
    background: url("../image/travel-17.jpg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}
.pagetop23{
    background: url("../image/travel-28.jpeg")center center no-repeat;
    min-height: 480px;
    background-attachment: fixed;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
    /* object-fit: cover; */
    /* aspect-ratio: 16/9; */
    box-shadow: inset 0px -80px 80px rgba(0, 0, 0, 0.25); 
}

@media (max-width:768px){
    .pagetop1,.pagetop2,.pagetop3,.pagetop4,.pagetop5,.pagetop6,.pagetop7,.pagetop8,.pagetop9,.pagetop10,.pagetop11,.pageto12,.pagetop13,.pagetop14,.pagetop15,.pagetop16,.pagetop17,.pagetop18,.pagetop19,.pagetop20,.pagetop21,.pagetop22,.pagetop23 {
        /* min-height: 400px; */
        background-size: contain;
        background-position: top;
    }

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #94A3B8!important;
    border-color: #94A3B8!important;
}